
{% extends 'base.html.njk' %}

{% block title %}Most Liked Fossils{% endblock title %}

{% block body %}
<h1>Welcome, {{name}}</h1>
  {% for fossil in fossils %}
    <div class="fossil-div">
      <h3>{{name}}, this is a {{ fossil.name }}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{fossil.img}}" />
    </div>
  {% endfor %}

  <form>
  <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>

  </form>
{% endblock %}